*{
    padding: 0;
    margin: 0;
  }
  header{
    background-color: black;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 100;
  }
  
  .header-line{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
  }
  .content p{font-size:1vw;}
  .header-line__h1{
    color: aliceblue;
    padding: 1vw;
    font-size:2vw;
  }
  
  .header-line__block{
    display: flex;
    align-items: center;
  }
  
  .header-line__input{
    font-size:1vw;
    margin-right: 0.5vw;
    width: 19.791666666666664vw;
    height: 2vw;
    border-radius: 0.52vw;
    border-color: #FFFFFF;
    outline: none;
    border: 0;
    padding-left: 1vw;
  
  }
  
  .header-line__btn {
    font-size:1vw;
    width: 10vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: #8FC1E3;
    border: none;
    margin-right: 1vw;
  }
  
  .header-line__btn:hover {
    color: #fff;
    background-color: #5085A5;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
  }
  
  .conteiner{
    display: flex;
    margin-top: 5vw;
    width: 90%;
    min-height: 80.53vh;
    margin: 0 auto;
    margin-top: 5vw;
    margin-bottom:0.5vw;
  }
  
  .conteiner__aside{
    border-radius: 0.5vw;
    top: 3vw;
    margin: 0;
    padding: 3vw;
    width: 15vw;
    background-color: #f1f1f1;
    position: sticky;
    height: 50%;
    overflow: auto;
    color: #000000;
  }
  aside ul li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    font-size:1.2vw;
    width: 13.020833333333334vw;
  }
  
  aside ul li:first-child{font-weight: bold;}
  aside ul li:last-child{font-weight: bold;}
  
  
  .conteiner__ul{
    list-style-type: none;
  
  }
  
  .conteiner__li{
    padding-bottom: 1vw;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    width: 100%;
  }
  
  .post{
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
    background-color: #E5E5E5;
    margin-bottom: 3vw;
    border-radius:0.5vw;
  }
  
  .post__img{
    max-height: 25vw;
    border-radius: 0.5vw 0.5vw 0vw 0vw;
  }
  
  .post__block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0.5vw;
    min-height: 10vw;
    max-width: 23vw;
  
  }
  
  .post__block1{
    display: flex;
    justify-content: space-between;
  }
  
  .post__comment{
    max-width: 2vw;
  }
  
  .post__star{
    max-width: 2vw;
    margin-right: 1vw;;
  }
  
  .post__category{
    color: #ACA3A3;
  }
  
  
  footer{
    width: 100%;
    background-color: black;
    z-index: 0;
  }
  .footer-line{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-line__nav{
    color: aliceblue;
    font-size:1vw;
  }
  
  .footer-line__nav1{
    padding-right: 1vw;
  }
  
  .footer-line__h2{
    color: aliceblue;
    padding: 1vw;
    font-size:1vw;
  }
  .active svg polygon{
    fill: #5085A5;
  }